<p>
  <b>First name:</b>
  <%=h @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @contact.last_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @contact.phone %>
</p>

<p>
  <b>Description:</b>
  <%=h @contact.description %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>